body{
    background-color: rgb(0, 0, 0);
}

.navbar {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #00ccff;
    background-color: #333;
}

.slider{
    position:relative;
    padding-left: 300px;
    padding-top: 30px;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 900px;
    height: 500px;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider {
    position: relative; /* Important */
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0,0%,0%,0.5);
    color: white;
    border: none;
    cursor: pointer;
}

/* Left side button */
.prev {
    left: 210px;
}

/* Right side button */
.next {
    right: 230px;
}

@keyframes fade{ 
    from{opacity: .5;} 
    to{opacity: 1;} 
}